#navbarNav ul li a:hover{
    color: rgb(24, 226, 85);
}
.nav-item{
    font-size: 20px;
    font-weight:500;
    
}
.navbar-brand::after{
    content: '';
    display: block;
    width: 0%;
    height: 2px;
    background-color: azure;
    transition: width .3s;
    
}
.navbar-brand:hover::after{
    width: 100%;
    transition: width .3s;
}
